/*-- scss:defaults --*/
$primaria: #A76938;
$secundaria: #FFC598;


$link-color: $primaria;
$navbar-bg: $primaria;
$code-block-bg: $secundaria;




/*-- scss:rules --*/

div.quarto-post .listing-categories .listing-category {
    background-color: #965322;
    color: white;
} 

#quarto-margin-sidebar .quarto-listing-category-title {
    cursor: pointer;
    font-weight: 100;
    font-size: 0rem;
}
